Pattern_Recognition/Project/X_test.txt
Pattern_Recognition/Project/X_train.txt
Pattern_Recognition/Project/y_test.txt
Pattern_Recognition/Project/y_train.txt
Data_and_Knowledge_Modelling_and_Analysis/Sentiment_Analysis_Project/data
Data_and_Knowledge_Modelling_and_Analysis/Sentiment_Analysis_Project/env
Data_and_Knowledge_Modelling_and_Analysis/Sentiment_Analysis_Project/.vscode